.rui{
    height: 320px;
}
.vi{
    font-size: 26px;
    margin-left: 20px;
}
.na ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.na ul li{
    margin-top: 50px;
    margin-left: 70px;
}
.pe{
    background-color: #f50bd6;
    color: aqua;
}
.yu{
    color: aqua;
}