/*
Auteur : Lembe
Objet : style page index
date : 18.04.2024
*/
h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}
img{
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table{
    width: 300px;
    height: 250px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
td{
    background-color: darkkhaki;
}
body{
    background-color: aquamarine;
}
.table1{
    margin: 90px 0px 0px 90px;
}
.table2{
    margin: 50px 0px 0px 90px;
}
.table3{
    margin: 50px 0px 0px 90px;
}
h6{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}